body{
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.container-narrow{
    margin: 0 auto;
    max-width: 940px;
}

.azul{
    background-color: #106CB7;
    display: block;
    padding: 5px 5px 5px 40px;
}

.info{
    background-color: #222222;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

a.thumbnail {
    border: 0px !important;
}


/* set the background-color to red */
.navbar-inner
{
    background-color: #106CB7;
    /* remove the gradient */
    background-image: none;
    /* set font color to white */
    color: white;
}

/* menu items */

/* set the background of the menu items to pink and default color to white */

.navbar .nav > li > a {
    background-color: #106CB7;
    color: white;
    text-shadow: none;

}

/* set hover and focus to lightblue */
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: #0248b7;
    color: white;
}
/* set active item to darkgreen */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {

    background-color: #0248b7;
    color: white;
}

/* set font color and background of the project name (brand) */

.navbar .brand
{
    background-color: orange;
    color: navy;
}

.no_margin{
    margin-left: 0px !important;
    width: 2px !important;
}

.no_margin > img {
    max-width:1px;
    height: 280px;
}

.pie > li > a{
    font-size: 0.8em;
    color: #ffffff;
}

.pie > li > a:hover{
    font-size: 0.8em;
    color: #c8c8c8;
    text-decoration: none;
}

.pie > li{
    list-style: none;
}
.pie > li:before {
    content: '';
    background-color: #106CB7;
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 4px;
    top: 0px;
}
