body{
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.container-narrow{
    margin: 0 auto;
    max-width: 940px;
}

.azul{
    background-color: #106CB7;
    display: block;
    padding: 5px 5px 5px 40px;
}

.info{
    background-color: #222222;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

a.thumbnail {
    border: 0px !important;
}


/* set the background-color to red */
.navbar-inner
{
    background-color: #106CB7;
    /* remove the gradient */
    background-image: none;
    /* set fonts color to white */
    color: white;
}

/* menu items */

/* set the background of the menu items to pink and default color to white */

.navbar .nav > li > a {
    background-color: #106CB7;
    color: white;
    text-shadow: none;
    padding: 10px 10px 10px;
}

/* set hover and focus to lightblue */
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    background-color: #0248b7;
    color: white;
}
/* set active item to darkgreen */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {

    background-color: #0248b7;
    color: white;
}

/* set fonts color and background of the project name (brand) */

.navbar .brand
{
    background-color: orange;
    color: navy;
}

.no_margin{
    margin-left: 0px !important;
    width: 2px !important;
}

.no_margin > img {
    max-width:1px;
    height: 280px;
}

.pie > li > a{
    font-size: 0.8em;
    color: #ffffff;
}

.pie > li > a:hover{
    font-size: 0.8em;
    color: #c8c8c8;
    text-decoration: none;
}

.pie > li{
    list-style: none;
}
.pie > li:before {
    content: '';
    background-color: #106CB7;
    display: inline-block;
    position: relative;
    height: 10px;
    width: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: 4px;
    top: 0px;
}

/*!
* bootstrap-lightbox.css v0.6.1
* Copyright 2013 Jason Butz
* http://www.apache.org/licenses/LICENSE-2.0.txt
*/
.lightbox {
    position: relative;
    top: 70px;
    z-index: 1050;
    line-height: 0;
    text-align: center;
    background-color: transparent;
    outline: none;
}

.lightbox .hide {
    display: none;
}

.lightbox .in {
    display: block;
}

.lightbox-content {
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    /* IE6-7 */

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.lightbox-content .lightbox-caption {
    position: absolute;
    right: 12px;
    bottom: 11px;
    left: 11px;
    padding: 2%;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: center;


}

.lightbox-header .close {
    margin-top: -16px;
    margin-right: -16px;
    font-size: 2em;
    color: white;
    opacity: .8;
    filter: alpha(opacity=80);
}

.lightbox-header .close :hover {
    opacity: .4;
    filter: alpha(opacity=40);
}
